/* CSS reset, dit niet aanpassen! */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

/* Hieronder mag je eigen CSS code *//* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

header{
	background-color:#3586ff ;
	width: 100%;
	height: 15vh;
	position:fixed;
	top:0;
	left: 0;
	z-index:999;
	/*border-bottom: 5px solid #00c2e8;*/
}

nav ul{
	list-style: none;
	margin:-.2rem;
}

nav ul li{
	display: inline-block;
	float:left;
	padding:1rem;
}

nav ul li a{
  display: inline-block;
	text-decoration: none;
	color:#fff;
	font-family: 'poppins', sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem;
  margin-top: 6px;
	letter-spacing: 2px;
  font-weight: bolder;
}

nav ul li a:hover{
	color:#00c2e8;
	font-weight: bolder;
}

.logotext {
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 3rem;
  color: white;
  font-family: 'poppins', sans-serif;
}

.logo{
  margin-left: 80px;
	float:left;
	width: 84px;
	height: 84px;
	color:#fff;
	font-size:2rem;
	text-decoration: none;
	text-transform: uppercase;
	display:block;
}

nav{
	float:right;
	padding: 1rem;
}



@media only screen and (max-width:900px ){



header{
	position:absolute;
}

.menu-icon{
	display:inline-block;
}

.menu-icon div{
	display: hidden;
	width: 55px;
	height:7px;
	background-color: #fff;
	margin-top:11px;
  margin-left: 15px;
	margin-right: 15px;
}

.logo {
  margin-left: 3px;
}

nav ul, nav:active ul {

	display:none;
	position:absolute;
	padding: 1rem 0;
	background-color:#3586ff;
	right: 7px;
	top:50px;
	width: 40%;
	margin-top:1rem;
}

nav:hover ul{
	display:block;
}

nav li {
	text-align: center;
	width:100%;
	padding: 1rem 0;
	margin:0;
}

}
.frontpage {
  width: 100%;
  height: auto;
  display: block;
}

.bigfrontpagepicture {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

#textplane {
  -webkit-animation: tekstvakjehoofd 5s both;
  -moz-animation: tekstvakjehoofd 5s both;
  -o-animation: tekstvakjehoofd 5s both;
  animation: tekstvakjehoofd 5s both;
  position: absolute;
  width: 45vw;
  height: 30vw;
  top: 9vh;
  margin-top: 25vh;
  margin-left: 40vw;
  margin-right: 15vw;
  margin-bottom: 30vh;
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  color: white;
  padding-top: 5vh;
  overflow: hidden;
}

.textinplane {
  color: white;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  font-family: "Anuphan", sans-serif;
  font-family: "Carlito", sans-serif;
  line-height: 75px;
	margin-top: 7vh;
}

.textinplane {
  opacity: 0;
  animation: animationtext 0.75s ease-out 1s forwards;
}

#space1 {
	visibility: hidden;
	display: none;
  width: 100%;
  height: 16vh;
}

.space2 {
  width: 100%;
  height: 16vh;
}

#blocks {
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 98.7vw;
  height: 90vh;
  margin-bottom: 10vh;
}

.animatedtext {
font-size: 25px;
}

.block1 {
  display: inline-block;
  float: left;
  width: 28vw;
  height: 84vh;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 2vw;
  border-radius: 15px;
  background: linear-gradient(
    #64dcfa 0%,
    #64dcfa 35%,
    #e0e0e0 35%,
    #e0e0e0 100%
  );
    transition: all .2s ease-in-out;
  min-width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aclass {
  color: white;
}

.block1:hover {
  transform: scale(2);
	z-index: 1003;
}

.block2 {
  display: block;
  float: left;
  width: 30vw;
  height: 88vh;
  margin-top: 2vw;
  margin-left: 4vw;
  margin: 2vw;
  padding: 2vw;
  border-radius: 15px;
  background: linear-gradient(
    rgb(85, 141, 237) 0%,
    rgb(85, 141, 237) 35%,
    #e6e6e6 35%,
    #e6e6e6 100%
  );
  transition: transform 1.5s;
  min-width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block2:hover {
  transform: scale(1.1);
}

.ex2 {
  margin-bottom: 7vh;
  text-align: center;
  line-height: 1.35rem;
  font-size: 20px;
	margin-top: 4vh;
	padding-left: 4vh;
}

.block3 {
  display: block;
  float: left;
  width: 28vw;
  height: 84vh;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 2vw;
  border-radius: 15px;
  background: linear-gradient(
    #64dcfa 0%,
    #64dcfa 36%,
    #e0e0e0 36%,
    #e0e0e0 100%
  );
  transition: transform 1.5s;
  min-width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block3:hover {
  transform: scale(1.1);
}

.ex1 {
  margin-bottom: 1vh;
  text-align: center;
  line-height: 1.35rem;
  font-size: 20px;
margin-top: 4vh;
	padding-left: 2vh;
}

.ex3 {
  margin-bottom: 2vh;
  text-align: center;
  line-height: 1.35rem;
  font-size: 20px;
	margin-top: 4vh;
	padding-left: 2vh;
}

.start-button {
	display: flex;
	border: 0;
  width: 35vh;
  height: 9.5vh;
  border-radius: 4.75vh;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 margin: 0 auto;
	font-size: 43px;
  /* Center button vertically */
  display: flex;
  justify-content: center;
    background-color: rgb(71, 130, 233);
  cursor: pointer;
}

button:hover {
  background-color: rgb(100, 145, 222);
}

.checklist {
  display: inline;
  margin-left: 8px;
  float: left;
  font-size: 1.05rem;
}

.checklist3{
  display: inline;
  margin-left: 0px;
  float: left;
  font-size: 1.05rem;
	margin-bottom: 6.5vh;
}

.checklist li {
background-image: url(check.svg);
background-repeat: no-repeat;
padding-left: 25px;
background-position: 0 3px;
margin-right: 14px;
float: left;
}
.checklist3 li {
background-image: url(check.svg);
background-repeat: no-repeat;
padding-left: 25px;
background-position: 0 3px;
margin-right: 14px;
float: left;
}

#portfolio {
  display: inline;
  position: relative;
  top: -60px;
  float: left;
  width: 98.7vw;
  height: 100vh;
}

.picture-emailplane {
  display: block;
  float: left;
  padding: 2px;
  background-color: black;
  width: 37vw;
  min-width: 430px;
  height: 100vh;
  position: relative;
}

.profilepicture {
  float: left;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  inset: 0;
margin: 10vh auto;
  transition: transform 0.75s;
position: absolute;
	object-fit: cover;
}

.helloinportfolio {
  margin-top: 12vh;
  margin-bottom: 13vh;
  color: rgb(0, 0, 0);
  font-size: 5.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
}

.profilepicture:hover {
  transform: scale(1.1);
  rotate: 1.2deg;
 }

.textportfolio {
  display: block;
  float: left;
  padding-top: 20vh;
  padding: 2px;
  background-color: #ececec;
  width: 60.6vw;
  min-width: 430px;
  height: 100vh;
  text-align: center;
	  position: relative;
}

.textinportfolio {
  margin: 6vh;
  color: rgb(45, 45, 45);
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.stripe {
  margin-top: 3vh;
  color: rgb(71, 130, 233);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

.myjob {
  text-align: center;
  margin-top: 3.5vh;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  letter-spacing: 3px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 50px;
}

.mynameinportfolio {
  margin-top: 32vh;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
}


.sendmeaemail {
  width: 40vw;
  min-width: 320px;
  height: 60px;
  border-radius: 30px;
  background-color: #3586ff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: white;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

.whatsresponsive {
  width: 98.8vw;
  height: 190vh;
  color: black;
  margin-bottom: 5vh;
  z-index: 1002;
	  position: relative;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

li {
  margin-top: 0.6vh;
  font-family: "Anuphan", sans-serif;
  list-style: none;
}

h1 {
  color: white;
  line-height: 0.6;
  font-size: 100px;
  text-align: center;
  justify-content: center;
  margin: 13px;
  font-family: "Anuphan", sans-serif;
}

h2 {
  font-family: "Anuphan", sans-serif;
  font-size: 30px;
  margin: 2px;
  color: white;
}

@media only screen and (max-width: 800px) {
	.logotext {
  display: hidden;
		display: none;
}
	

  #btn {
    width: 88vw;
    margin: 22px;
  }

  .bigfrontpagepicture {
    width: 100%;
    height: 100vh;
  }


  #textplane {
    width: 96vw;
    height: 93vw;
    margin-top: 20vh;
    margin-left: 3vw;
    margin-right: 0vw;
  }

  .textinplane {
	  margin-top: 2vh;
    font-size: 53px;
	  line-height: 59px ;
}
	
  #space1 {
    display: inline;
  }

  .sendmeaemail {
    height: 86px;
    border-radius: 43px;
  }

  .header {
    height: 16vh;
  }


  .ex1{
    margin-bottom: 5vh;
  }
.ex2 {
  margin-bottom: 8vh;
}
	.ex3 {
	margin-bottom: 2vh;
	}

	.block1, .block3 {
		height: 70vh;
		width: 80vw;
		margin-left: 10vw;
	}

	.block2{
		height: 70vh;
		width: 80vw;
		margin-left: 10vw;
	}
	  h2 {
	  margin-top: 7px;
  }
}



@media screen and (min-width: 1400px) {
  .bigfrontpagepicture {
    width: 100%;
    height: 100vh;
  }

	  header {
		  display: inline-block;
		  padding-top: 22px;
	  }
  .nav-links{
    margin-top: 9px;
  }

  #textplane{
    margin-top: 25vh;
  }

  .textinplane {
	  align-items:center;
    font-size: 80px;
    line-height: 80px;
  }

  h1 {
    font-size: 130px;
    margin-bottom: 30px;
	  
  }

  .ex1, .ex2, .ex3 {
    font-size: 45px;
    line-height: 2.5rem;
  }
	.ex2 {
		margin-bottom: 7vh;}

	.ex3 {
		margin-bottom: 0vw;
	}

  .checklist {
    font-size: 1.25rem;
  }

.checklist3 {
margin-bottom: 3vh;    font-size: 1.25rem;
}

  .block1, .block3 {
    width: 27vw;
  }
  
  .block2 {
    width: 31vw;
  }
  
  .thirdbutton {
    width: 22.5vw;
	  margin-left: 2.25vw;
  }

  h2 {
    font-size: 40px;
    margin: 0px;
  }
}@media screen and (min-width: 1700px) {


	  header {
		  display: inline-block;
		  padding-top: 22px;
	  }
  .nav-links{
    margin-top: 9px;
  }

  #textplane{
    margin-top: 25vh;
  }

  .textinplane {
    font-size: 130px;
    line-height: 130px;
  }

  h1 {
    font-size: 130px;
    margin-bottom: 30px;
	  
  }

  .ex1, .ex2, .ex3 {
    font-size: 45px;
    line-height: 2.5rem;
  }
	.ex2 {
		margin-bottom: 7vh;}

	.ex3 {
		margin-bottom: 0vw;
	}

  .checklist {
    font-size: 1.55rem;
  }

.checklist3 {
margin-bottom: 3vh;    font-size: 1.55rem;
}

  .block1, .block3 {
    width: 27vw;
  }
  
  .block2 {
    width: 31vw;
  }
  
  .thirdbutton {
    width: 22.5vw;
  }

  h2 {
    font-size: 40px;
    margin: 0px;
  }
}

@keyframes animationtext {
  100% {
    opacity: 1;
    transform: scale(1.25);
  }
}
